.list-group-item {
background: black;
    color: rgba(255, 255, 255, 0.412);
}
.list-group-item:hover {
    background: rgba(0, 0, 0, 0.761);
    border: 1px solid white;
    transition: all 1s ease;
}
