

/* Source : LinearApp */
/*  "effet de survol" */
/* https://linear.app/features */


.breadcrumb{
  padding-top: 3%;
}

/* Links in front so they can be clicked */
.breadcrumb-item{
  z-index: 100;
}

#pagin {
  max-width: 916px;
}

#pagin:hover > .pagin::after {
  opacity: 1;
}

.pagin {
  background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.293), rgba(255, 192, 203, 0.188));
  text-align: center;
  height: 10%;
  width: 28%;
  border-radius: 350px;
  cursor: pointer;
}

.pagin:hover::before {
  opacity: 1;
}

.pagin::before,
.pagin::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.049);
  transition: border-color 2s ease-in;
  left: 0px;
  opacity: 0;
  top: 0px;
  position: absolute;
  transition: opacity 500ms;
  width: 100%;
}

.pagin::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 30%
  );
  z-index: 3;
}

.pagin::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 20%
  );
  z-index: 1;
}

.pagin > .pagin-content {
  background-color: linear-gradient(to bottom right, rgba(0, 0, 255, 0.293), rgba(255, 192, 203, 0.188));
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}



.pagin .droppy a:hover
{
  border-radius: 0.3rem;
}

.dropdown-menu .link-light:focus{
  background-color: rgba(37, 28, 41, 0.434);
  border-radius: 0.3rem;
}


/*  Responsivness  */
@media(max-width: 1000px) {
  
  #pagin {    
    max-width: 1000px;
    padding: 10px 0px;
  }

  .pagin {
    width: calc(90% - 7px);
  }
}

@media(max-width: 500px) {
  .pagin {
    height: 80px;
    width: calc(100% - 10px);
  }
  .pagin .droppy{

    border-radius: 5rem;
  }
}

@media(max-width: 320px) {
  .pagin {
    width: calc(90% - 7px);
  }
  .footer{
    display: flex;
    margin: auto;
    text-align: center;
  }

  .logo1:hover {
    transform: scale(1.1) translate(-20%, -10%);
  }
  .logo2:hover {
    transform: scale(1.1) translate(20%, -10%);

  }
  .logo3:hover {
    transform: scale(1.1) translate(0%, -20%);
  }
}